<!DOCTYPE html>
<html>
<head><title>Game</title>
<link href="test.css" rel="stylesheet" />
<meta charset=utf-8 />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="game.js"></script>
</head>
<body>

	<p><h1>

	<p><h1 id="header"></h1></p>

	<div id="cy"></div>

	<div id="func"><p>Add a new function:</p>
	<p>First arg: <input id="arg1" type=text size="30"/></p>
	<!-- <input type="submit"/> -->
	<p>Second arg: <input id="arg2" type=text size="30"/></p>
	<p>Output name: <input id="out" type=text size="30"/></p>
	<p>Function name: <input id="func_name" type=text size="30"/></p></div>

	<p><button id="f_submit">Make function</button></p>
	<p><button id="soln_submit">Submit solution</button></p>

<!-- 	<canvas id="canvas" width="400" height="400"></canvas> -->


	<!-- <p><a href="../increment">Increment level!</a></p>
	<p><a href="../">Return</a></p> -->

	<!-- <p><h2>Select level below</h2></p>

	<p><button id="1">Level 1</button></p>
	<p><button id="2">Level 2</button></p>
	<p><button id="3">Level 3</button></p>
	<p><button id="4">Level 4</button></p>
	<p><button id="5">Level 5</button></p> -->




</body>
</html>

