<!DOCTYPE html>
<html>
<head><title>Game</title><head>
<body>

	<h1>Current Level: <%= level %></h1>

	<p><a href="../increment">Increment level!</a></p>
	<p><a href="../dispatch.fcgi">Return</a></p>


</body>
</html>
