<!DOCTYPE html>
<html>
<head><title>Home</title><head>
<body>

	<h1>Welcome, <%= name %></h1>

	<p><a href="../new_game">Click here to start a new game</a></p>
	<p><a href="../continue_game">Click here to continue (placeholder-currently dead link)</a></p>
	<p><a href="../profile">Click here to see your stats</a></p>
	<p><a href="../logout">Click here to log out</a></p>


</body>
</html>