<!DOCTYPE html>
<html>
<head><title>Home</title><head>
<body>

	<h1>Welcome, <%= name %></h1>

	<p><a href="../new_game">Click here to start a new game/Continue</a></p>
	<p><a href="../profile">Click here to see your stats</a></p>
	<p><a href="../logout">Log out</a></p>

	<p><a href="../rules">Rules</a></p>


</body>
</html>