body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 10px;
}

#level{
	padding-top: 300px;
}

#func{
	/*padding-top: 300px;*/
	/*position: relative;*/
}